.section2 {
    width: 100%;

    .section2lite {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .our {
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20PX;

            h1 {
                font-size: 40px;
            }

            p {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                font-size: 17px;
                font-weight: 300;
                line-height: 1.625em;
            }

        }
.five{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
        .basic {
            flex: 1 1 calc(30% - 30px);
            gap: 30px;
            display: flex;
            flex-direction: column;
            padding: 15px;
            justify-content: center;
            align-items: center;
            position: relative;

            .section16 {
                display: flex;
                justify-content: space-around;


                button {
                    font-size: 17px;
                    color:#ffbb00;
                    padding: 5px;
                    background-color: black;
                    transition: 0.4s ease;
                    border: none;
                    cursor: pointer;
                    border-radius: 10px;
                    gap: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        font-size: 20px;
                        color:#ffbb00;
                        transition: 0.3s ease;

                        &:hover {
                            color: red;
                            transform: scale(1.4);
                        }
                    }

                    .bi-arrow-repeat {
                        font-size: 30px;
                        color:#ffbb00;
                        transition: 0.3s ease;

                        &:hover {
                            color: rgb(0, 255, 42);
                            transform: scale(1.3);
                        }
                    }
                }
            }

            h2 {
                width: 100%;

                i {
                    font-size: 30px;
                    transition: 0.3s ease;

                    &:hover {
                        color: green;
                        transform: scale(1.1);
                    }
                }
            }

            p {
                width: 100%;
                color: #777777;
                font-family: "Poppins", sans-serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.625em;
                align-items: center;
            }

            .bi-heart {
                position: absolute;
                top: 40px;
                left: 300px;
                font-size: 40px;
                color: rgb(255, 187, 0);
                transition: 0.5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &:hover {
                background-color: rgb(255, 187, 0);

            }

            transition: 0.5s ease;

            div {
                width: 100%;
                height: 70%;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

        }}
    }
}

@media screen and (max-width:768px) {
    .section2 {
        .section2lite {
            .five{
                 .basic {
                flex: 1 1 calc(100% - 30px);
            } 
            }
          
        }
    }

}

.add {
    width: 100px;
    height: 50px;
    background-color: #ffbb00;
    opacity: 0.9;
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 40px;
    border: none;
    transition: 0.5s ease;
    border-radius: 999999999px;
    cursor: pointer;
    &:hover.add {
        transform: scale(1.3);
    }
}

/*# sourceMappingURL=security.css.map */