a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.con {
  padding: 0 32px;
  max-width: 1200px;
  margin: auto;
}

hr {
  border-color: rgba(255, 255, 255, 0.3);
  margin-top: 5px;
}

header {
  width: 100%;
}
header .headerlite {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headerlite .icon {
  width: 10%;
  display: flex;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  color: white;
}
header .headerlite .register {
  cursor: pointer;
  color: white;
  width: 20%;
  display: flex;
  gap: 2px;
  align-items: center;
}
header .headerlite .register .sfd {
  width: 43%;
  font-size: 10px;
}
header .headerlite .register:hover {
  color: rgb(255, 187, 0);
}
header .headerlite .register a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
header .headerlite .register a:hover {
  color: rgb(255, 187, 0);
}
header .headerlite .register i {
  display: none;
}

@media (max-width: 735px) and (min-width: 360px) {
  header .headerlite .register {
    gap: 10px;
    width: 30%;
  }
  header .headerlite .register .sfd {
    display: none;
  }
  header .headerlite .register i {
    cursor: pointer;
    display: block;
  }
  header .headerlite .register i:hover {
    color: rgb(255, 187, 0);
  }
}
.div {
  z-index: 100;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.div nav {
  width: 100%;
}
.div nav .navlite {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div nav .navlite i {
  display: none;
}
.div nav ul {
  color: white;
  display: flex;
  gap: 13px;
  font-size: 13px;
}

@media (max-width: 990px) and (min-width: 940px) {
  .div nav .navlite {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding-top: 10px;
  }
  .div nav .navlite i {
    display: none;
  }
}
@media (max-width: 939px) and (min-width: 360px) {
  .div nav {
    width: 100%;
    position: relative;
  }
  .div nav .navlite {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .div nav .navlite i {
    display: block;
    color: white;
    font-size: 30px;
    z-index: 999;
  }
  .div nav ul {
    width: 100%;
    height: 600px;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    flex-direction: column;
    padding: 300px 20px;
    align-items: flex-start;
    gap: 20px;
    z-index: 80;
  }
}
section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://preview.colorlib.com/theme/security/img/header-bg.jpg");
  width: 100%;
  background-size: cover;
}
section .sectionlite {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
}
section .sectionlite .textdiv {
  width: 80%;
  color: white;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
section .sectionlite .textdiv h6 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
section .sectionlite .textdiv h1 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 2.5rem;
}
section .sectionlite .textdiv p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  font-weight: 300;
  line-height: 1.625em;
}
section .sectionlite .textdiv button {
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgb(255, 187, 0);
  color: white;
  font-size: 15px;
  transition: 0.5s ease;
  cursor: pointer;
}
section .sectionlite .textdiv button:hover {
  background-color: black;
  border: 1px solid rgb(255, 187, 0);
  color: rgb(255, 187, 0);
}

.load {
  margin-left: calc(50% - 75px);
  width: 150px;
  height: 50px;
  border: none;
  background-color: rgb(255, 187, 0);
  color: white;
  font-size: 15px;
  transition: 0.5s ease;
  cursor: pointer;
}
.load:hover {
  background-color: black;
  border: 1px solid rgb(255, 187, 0);
  color: rgb(255, 187, 0);
}

.section2 {
  width: 100%;
}
.section2 .section2lite {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.section2 .section2lite .our {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20PX;
}
.section2 .section2lite .our h1 {
  font-size: 40px;
}
.section2 .section2lite .our p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  font-weight: 300;
  line-height: 1.625em;
}
.section2 .section2lite .five {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.section2 .section2lite .five .basic {
  flex: 1 1 calc(30% - 30px);
  gap: 30px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s ease;
}
.section2 .section2lite .five .basic .section16 {
  display: flex;
  justify-content: space-around;
}
.section2 .section2lite .five .basic .section16 button {
  font-size: 17px;
  color: #ffbb00;
  padding: 5px;
  background-color: black;
  transition: 0.4s ease;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 .section2lite .five .basic .section16 button i {
  font-size: 20px;
  color: #ffbb00;
  transition: 0.3s ease;
}
.section2 .section2lite .five .basic .section16 button i:hover {
  color: red;
  transform: scale(1.4);
}
.section2 .section2lite .five .basic .section16 button .bi-arrow-repeat {
  font-size: 30px;
  color: #ffbb00;
  transition: 0.3s ease;
}
.section2 .section2lite .five .basic .section16 button .bi-arrow-repeat:hover {
  color: rgb(0, 255, 42);
  transform: scale(1.3);
}
.section2 .section2lite .five .basic h2 {
  width: 100%;
}
.section2 .section2lite .five .basic h2 i {
  font-size: 30px;
  transition: 0.3s ease;
}
.section2 .section2lite .five .basic h2 i:hover {
  color: green;
  transform: scale(1.1);
}
.section2 .section2lite .five .basic p {
  width: 100%;
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  align-items: center;
}
.section2 .section2lite .five .basic .bi-heart {
  position: absolute;
  top: 40px;
  left: 300px;
  font-size: 40px;
  color: rgb(255, 187, 0);
  transition: 0.5s ease;
}
.section2 .section2lite .five .basic .bi-heart:hover {
  transform: scale(1.1);
}
.section2 .section2lite .five .basic:hover {
  background-color: rgb(255, 187, 0);
}
.section2 .section2lite .five .basic div {
  width: 100%;
  height: 70%;
}
.section2 .section2lite .five .basic div img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .section2 .section2lite .five .basic {
    flex: 1 1 calc(100% - 30px);
  }
}
.add {
  width: 100px;
  height: 50px;
  background-color: #ffbb00;
  opacity: 0.9;
  color: rgb(0, 0, 0);
  font-size: 30px;
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 40px;
  border: none;
  transition: 0.5s ease;
  border-radius: 999999999px;
  cursor: pointer;
}
.add:hover.add {
  transform: scale(1.3);
}


.section3 {
  width: 100%;
}
.section3 .section3lite {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section3 .section3lite .section3text {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.section3 .section3lite .section3text h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  font-weight: 600;
}
.section3 .section3lite .section3text p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.section3 .section3div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.section3 .section3div .divcont {
  flex: 1 1 calc(30% - 20px);
  transition: 0.5s ease;
  padding: 40px 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.section3 .section3div .divcont h2 {
  font-size: 18px;
}
.section3 .section3div .divcont p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
.section3 .section3div .divcont:hover {
  background-color: #fab700;
}

@media (max-width: 760px) and (min-width: 500px) {
  .section3 .section3lite .section3div .divcont {
    flex: 1 1 calc(50% - 20px);
  }
}
@media (max-width: 500px) {
  .section3 .section3lite .section3div .divcont {
    flex: 1 1 calc(100% - 20px);
  }
}
.section4 {
  width: 100%;
}
.section4 .section4lite {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section4 .section4lite .section4text {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.section4 .section4lite .section4text h1 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  font-weight: 600;
}
.section4 .section4lite .section4text p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.section4 .section4lite .uzundiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.section4 .section4lite .uzundiv .imgdok {
  flex: 1 1 calc(25% - 40px);
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 10px;
  transition: 0.5 ease;
}
.section4 .section4lite .uzundiv .imgdok aside {
  width: 100%;
  overflow: hidden;
}
.section4 .section4lite .uzundiv .imgdok aside img {
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}
.section4 .section4lite .uzundiv .imgdok span {
  width: 50%;
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .section4lite .uzundiv .imgdok h2 {
  width: 100%;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-size: 18px;
  transition: 0.5s ease;
}
.section4 .section4lite .uzundiv .imgdok p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
.section4 .section4lite .uzundiv .imgdok .heart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section4 .section4lite .uzundiv .imgdok .heart h5 {
  font-weight: 400;
  color: #777777;
  font-size: 17px;
}
.section4 .section4lite .uzundiv .imgdok:hover aside img {
  transform: scale(1.1);
}
.section4 .section4lite .uzundiv .imgdok:hover h2 {
  color: darkorange;
}

@media (max-width: 760px) and (min-width: 500px) {
  .section4 .section4lite .uzundiv .imgdok {
    flex: 1 1 calc(50% - 40px);
  }
}
@media (max-width: 500px) {
  .section4 .section4lite .uzundiv .imgdok {
    flex: 1 1 calc(100% - 40px);
  }
}
footer {
  width: 100%;
  background-color: #04091e;
  margin-top: 100px;
}
footer .ffooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .ffooter .footer1 {
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
footer .ffooter .footer1 h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 23px;
  font-weight: 600;
}
footer .ffooter .footer1 p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
footer .ffooter .footer1 h4 {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
footer .ffooter .footer1 h5 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  gap: 5px;
  color: rgb(255, 187, 0);
  display: flex;
}
footer .ffooter .footer1 h5 i {
  color: rgb(255, 187, 0);
}
footer .ffooter .footer2 {
  width: 35%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
footer .ffooter .footer2 h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 23px;
  font-weight: 600;
}
footer .ffooter .footer2 p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
footer .ffooter .footer2 div {
  width: 100%;
  display: flex;
}
footer .ffooter .footer2 div button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgb(255, 187, 0);
  color: white;
}
footer .ffooter .footer2 div input {
  width: 330px;
  height: 40px;
  border: none;
  padding: 0 10px;
}
footer .ffooter .footer3 {
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
footer .ffooter .footer3 h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 23px;
  font-weight: 600;
}
footer .ffooter .footer3 p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
footer .ffooter .footer3 .conli {
  display: flex;
  gap: 20px;
}
footer .ffooter .footer3 .conli i:hover {
  color: rgb(255, 187, 0);
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  footer .ffooter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  footer .ffooter .footer1 {
    flex: 1 1 calc(50% - 30px);
  }
  footer .ffooter .footer2 {
    flex: 1 1 calc(50% - 30px);
  }
  footer .ffooter .footer3 {
    flex: 1 1 calc(100% - 30px);
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  footer .ffooter div {
    flex: 1 1 calc(100% - 30px);
  }
}/*# sourceMappingURL=security.css.map */